<div class="rows" data-table="MusicAlbum">
{{#rows}}
  <article class="row" data-id="{{id}}">
    <div data-field="id">
      <div class="label">id</div>
      <div class="value">{{id}}</div>
    </div>
    <div data-field="name">
      <div class="label">name</div>
      <div class="value">{{name}}</div>
    </div>
    <div data-field="description">
      <div class="label">description</div>
      <div class="value">{{description}}</div>
    </div>
    <div data-field="datePublished">
      <div class="label">datePublished</div>
      <div class="value">{{datePublished}}</div>
    </div>
    <div data-field="genre">
      <div class="label">genre</div>
      <div class="value">{{genre}}</div>
    </div>
    <div data-field="url">
      <div class="label">url</div>
      <div class="value">{{url}}</div>
    </div>
    <div data-field="image">
      <div class="label">image</div>
      <div class="value">{{image}}</div>
    </div>
    <div data-field="duration">
      <div class="label">duration</div>
      <div class="value">{{duration}}</div>
    </div>
  </article>
{{/rows}}
</div>
